<!DOCTYPE html>
<html>
<head>
  <title>SquirrelChaseApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <meta charset="utf-8">

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
